.container
  .row
    .col-xs-12
      .content-header
        %h2= fa_icon "info-circle", text:t("announcement.header")
      .content-body.panel.panel-default
        .panel-heading
          %h3.panel-title= @announcement.title
        .panel-body
          = @announcement.content

      = link_to t("action.back"), announcements_path
