%ul.list-inline
  %li.col-lg-3.col-md-3.col-sm-3.col-xs-3.order-step-box
    = render partial: "orders/step_box", locals:{number: "1", title:"order.step1_title", message:"order.step1", caption: caption}
  %li.col-lg-3.col-md-3.col-sm-3.col-xs-3.order-step-box
    = render partial: "orders/step_box", locals:{number: "2", title:"order.step2_title", message:"order.step2", caption: caption}
  %li.col-lg-3.col-md-3.col-sm-3.col-xs-3.order-step-box
    = render partial: "orders/step_box", locals:{number: "3", title:"order.step3_title", message:"order.step3", caption: caption}
  %li.col-lg-3.col-md-3.col-sm-3.col-xs-3.order-step-box
    = render partial: "orders/step_box", locals:{number: "4", title:"order.step4_title", message:"order.step4", caption: caption}
