%ul.list-inline
  %li.col-lg-3.col-md-3.col-sm-3.col-xs-3.order-step-box
    = render partial: "step_box", locals:{number: "1", title:"order.step1_lease_title", message:"order.step1_lease", caption: caption}
  %li.col-lg-3.col-md-3.col-sm-3.col-xs-3.order-step-box
    = render partial: "step_box", locals:{number: "2", title:"order.step2_lease_title", message:"order.step2_lease", caption: caption}
  %li.col-lg-3.col-md-3.col-sm-3.col-xs-3.order-step-box
    = render partial: "step_box", locals:{number: "3", title:"order.step3_lease_title", message:"order.step3_lease", caption: caption}
  %li.col-lg-3.col-md-3.col-sm-3.col-xs-3.order-step-box
    = render partial: "step_box", locals:{number: "4", title:"order.step4_lease_title", message:"order.step4_lease", caption: caption}
