%nav.navbar
  .container-fluid.header
    .navbar-header
      %button.navbar-toggle.collapsed{type:"button", data:{toggle:"collapse", target:"#collapsing-navbar-header-01"}}
        %span.sr-only Toggle Navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to (image_tag "adm-logo.png"), "#", class:"navbar-brand"
    .collapse.navbar-collapse#collapsing-navbar-header-01
      %ul.nav.navbar-nav.navbar-right
        = render partial: "csp", locals:{csp: current_csp}
        %li
          = link_to (t "application.sign_out"), destroy_csp_session_path, method: :delete
